@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,SOFT,WONK@9..144,100..900,0..100,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
}
li,
ol,
ul {
   list-style: none;
   color: #ccc;
   font-family: Overpass Mono, monospace;
   font-weight: 300;
   font-size: 0.8rem;
   & svg {
      vertical-align: text-top;
   }
}
ol,
ul {
   margin-block: 1em;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*     END OF CSS RESET     */

$a: -0.0223;
$b: 0.185;
$c: -0.1745;
$e: 2.718281828459045;

html,
body {
   padding: 0;
   margin: 0;
   font-family: Public Sans, Inter, Libre Franklin, Lexend Deca, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
   -webkit-font-smoothing: antialiased;
   font-size: 17px;
   letter-spacing: -0.013em;
   line-height: 1.3;

   /* background-image: linear-gradient(150deg, #222 0%, black 100%); */
   /* backdrop-filter: blur(45px); */
   background-color: #1a1a1a;

   color: #d7d9ed;

   position: relative;
   z-index: -71;
}

// Colors
$bg-color: hsl(256,33,10);
$dot-color: hsl(256,33,70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

body {
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}

html {
   scroll-behavior: smooth;
}

.bg {
   z-index: -70;
   position: absolute;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;

   transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

   -webkit-filter: blur(15px);
   filter: blur(15px);
   // transform: scaleX(1.2);

  
}

.bg_blur {
   z-index: -69;
   position: absolute;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;

   -webkit-backdrop-filter: blur(45px);
   backdrop-filter: blur(45px);
}

a {
   color: inherit;
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 700;
   margin: 0;
}

h1 {
   letter-spacing: -0.022em;
   color: #a2c0d2;
}

h3 {
   letter-spacing: -0.017em;
}

p {
   color: #9ca6d1;

   &:not(:last-child) {
      margin-bottom: 1em;
   }
}

* {
   box-sizing: border-box;
}

code {
   padding: 0 3px;
   font-family: Overpass Mono, monospace;
}

.image-container {
   width: fit-content;
   height: fit-content;
   font-size: 0;
   overflow: hidden;
   // position: relative;
   // border-radius: 16px;

   > div {
      position: unset !important;
   }

   .image {
      // object-fit: contain;     // Already in next/image
      width: 100% !important;
      position: relative !important;
      height: unset !important;
   }
}

img[style*='filter:blur(20px)'] {
   transform: scale(1.5);
}
/* Works on Firefox */
/*
* {
   scrollbar-width: thin;
   scrollbar-color: #fff4 #fff0;
}*/

/* Works on Chrome, Edge, and Safari */
/*
*::-webkit-scrollbar {
   width: 7px;
}

*::-webkit-scrollbar-track {
   background: #fff0;
   padding: 2px;
}

*::-webkit-scrollbar-thumb {
   background-color: #fff4;
   border-radius: 0px;
}
*/
